Flask==2.3.2
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
gunicorn==21.2.0
requests==2.31.0
requests-file==1.5.1
rich==13.7.0
rsa==4.9
traitlets==5.13.0
trio==0.23.1
trio-websocket==0.11.1
typing_extensions==4.8.0
tzdata==2023.3
ujson==5.8.0
urllib3==1.26.18
uvicorn==0.23.2
virtualenv==20.24.6
virtualenvwrapper-win==1.2.7
watchfiles==0.21.0
wcwidth==0.2.9
webdriver-manager==4.0.1
websockets==12.0
Werkzeug==2.3.6