<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
      <header class="container mt-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Stepik Travel</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          {% if request.path == "/departures/msk/" %}
            <li class="nav-item active">
              <a class="nav-link" href="#">Из Москвы</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="/departures/msk/">Из Москвы</a>
            </li>
          {% endif %}
          {% if request.path == "/departures/spb/" %}
            <li class="nav-item active">
              <a class="nav-link" href="#">Из Петербурга</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="/departures/spb/">Из Петербурга</a>
            </li>
          {% endif %}
          {% if request.path == "/departures/nsk/" %}
            <li class="nav-item active">
              <a class="nav-link" href="#">Из Новосибирска</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="/departures/nsk/">Из Новосибирска</a>
            </li>
          {% endif %}
          {% if request.path == "/departures/ekb/" %}
            <li class="nav-item active">
              <a class="nav-link" href="#">Из Екатеринбурга</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="/departures/ekb/">Из Екатеринбурга</a>
            </li>
          {% endif %}
          {% if request.path == "/departures/kazan/" %}
            <li class="nav-item active">
              <a class="nav-link" href="#">Из Казани</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="/departures/kazan/">Из Казани</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>
  {% endblock %}
</body>
</html>